/*Waving background */
.wave-background {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	z-index: -2;
	background-color:rgb(23,43,77);
}
.wave-svg {
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	top: 0;
	z-index: -1;
	height: 100%;
	position: absolute;
	width: 100%;
	left: 0;
	margin: auto;
}
svg:not(:root) {
	overflow: hidden;
}
.bg-wave {
	color: #fff;
	display: flex;
	z-index: -3;
	width: 100vw;
	height: 100vh;
	position: fixed;
}
/*Form-box*/
.form-box{ 
	font-family: sans-serif;
	font-size: 17px;
	z-index: 1;
	background-color: rgba(255, 255, 255, .9);
	color: black;
	position: absolute;
	border-radius: 5px;
	padding-top: 5px;
	padding: 1rem 0px;
	min-width: 450px;
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	border: 2px solid #825ee4;
  	color: #825ee4;
}
@media screen and (max-device-width: 540px){
	.form-box{
		min-width: 30em;
		min-height: 30em;
		font-size: 2rem;
	}
	.form-box form button{
		margin-top: 20px;
		height: 5rem;
	}
	.form-box .form-control{
		margin: 1.4rem 0;
		padding: 1.4rem 1rem;
	}
	.form-box .form-check{
		margin: 1.4rem 0;
		font-size: inherit;
	}
	.form-box form button{
		margin-top: 5rem;
	}
}

/*2. Custom form */
.form-box form{
	width: 90%;
	margin-left: 5%;
}
/*2.1 Custom textbox */
.form-box .form-control{
	outline: none;
	border: 1px solid #825ee4;
	font-size: inherit;
}
.form-box .form-control:focus{
	outline: none;
}
.form-box .form-control:focus:active{
	outline: none;
}
@media screen and (max-device-width: 540px){
	.form-control{
		font-size: 20px;
		height: 7.5rem;
	}
}
/*2.2 Custom button*/
.form-box form button{
	color: white;
	background-color: #825ee4;
	border: 1px solid #825ee4;
	display: inline-block;
	margin: 5px 0px;
	font-size: inherit;
	height: 3.5rem;
	transition: all .2s;
	cursor: pointer;
}
.form-box form button:hover{
	color: white;
	background-color: #825ee4;
}

@media screen and (max-device-width: 540px){
	.form-box form button{
		height: 7rem;
		font-size: 3rem;
	}
}

/*2.3 Custom checkbox*/
.form-check-input{
	margin-left: 0rem;
	margin-top: 0.3rem;
	width: 15px;
	height: 15px;
	border-radius: 0px;
}

.form-box [type="checkbox"]:not(:checked),
.form-box [type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
.form-box [type="checkbox"]:not(:checked) + label,
.form-box [type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.6em;
  cursor: pointer;
}

/* checkbox aspect */
.form-box [type="checkbox"]:not(:checked) + label:before,
.form-box [type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 1.25em; height: 1.25em;
  border: 2px solid #ccc;
  background: #fff;
  border: 1px solid #825ee4;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
/* checked mark aspect */
.form-box [type="checkbox"]:not(:checked) + label:after,
.form-box [type="checkbox"]:checked + label:after {
  content: '\2714';
  position: absolute;
  top: .15em; left: .1em;
  font-size: 1.2em;
  line-height: 0.8;
  color: #825ee4;
  transition: all .1s;
}
/* checked mark aspect changes */
.form-box [type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
.form-box [type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
label:hover:before {
  border: 2px solid #825ee4!important;
}
.form-box a{
	color: inherit;
	text-decoration: underline;
}
/*Modal*/
.modal-body{
	padding: 0;
}

.modal-body .alert{
	margin-bottom: 0px;
}
.modal-footer{
	padding: 5px 15px;
}
.modal-title, .modal-title button{
	padding: 5px 15px;
	color: #825ee4;
}
.modal-footer button:hover{
	cursor: pointer;
	background-color: #825ee4;
	color: white;
}
.modal-footer button{
	background-color: #825ee4;
	color: white;
}