a{
	cursor: pointer !important;
}
.display-none{
	display: none;
}
.pagination-table {
  display: inline-block;
  border: 1px solid #1E1E2E;
  border-radius: 3px; }

.pagination-table a {
  display: block;
  float: left;
  width: 20px;
  height: 20px;
  outline: none;
  border-right: 1px solid #1E1E2E;
  border-left: 1px solid #1E1E2E;
  color: white;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-family: Times, 'Times New Roman', Georgia, Palatino;
  /* ATTN: need a better font stack */
  background-color: #1E1E29;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1E1E29), color-stop(100%, #1E1E2A));
  background-image: -webkit-linear-gradient(#1E1E29, #1E1E2A);
  background-image: linear-gradient(#1E1E29, #1E1E2A); }
  .pagination-table a:hover, .pagination-table a:focus, .pagination-table a:active {
    background-color: #1E1E29;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1E1E29), color-stop(100%, #cecece));
    background-image: -webkit-linear-gradient(#1E1E29, #1E1E29);
    background-image: linear-gradient(#1E1E29, #1E1E29); }
  .pagination-table a.disabled, .pagination-table a.disabled:hover, .pagination-table a.disabled:focus, .pagination-table a.disabled:active {
    background-color: #1E1E29;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1E1E29), color-stop(100%, #1E1E2A));
    background-image: -webkit-linear-gradient(#1E1E29,#1E1E29);
    background-image: linear-gradient(#1E1E29,#1E1E2A);
    color: grey;
    cursor: default; }

.pagination-table a:first-child {
  border: none;
  border-radius: 2px 0 0 2px; }

.pagination-table a:last-child {
  border: none;
  border-radius: 0 2px 2px 0; }

.pagination-table input {
  float: left;
  margin: 0;
  padding: 0;
  width: 120px;
  height: 20px;
  outline: none;
  border: none;
  vertical-align: middle;
  color:white;
  background: #1E1E2A;
  text-align: center; }

.btn-danger-custom:hover{
	color: #f56036 !important;
	background-color: white !important;
}
.collapse .nav-item{
	display: block;
}
.link-walletType{
	transition: box-shadow .2s;
}
.card{
	border-radius: 0px !important;
}
.link-walletType:hover{
	display: block;
	border: 1px solid #e14eca;
	margin-bottom: -2px;
	-webkit-box-shadow: 0px 0px 10px -2px #825ee4;
	-moz-box-shadow: 0px 0px 10px -2px #825ee4;
	box-shadow: 0px 0px 10px -2px #825ee4;
}
option{
	background: #1E1E2F !important;
}
#from > .card{
	border: 1px solid #f5365c;
	-webkit-box-shadow: 0px 0px 10px -2px #f5365c;
	-moz-box-shadow: 0px 0px 10px -2px #f5365c;
	box-shadow: 0px 0px 10px -2px #f5365c;
}
#to > .card{
	border: 1px solid #2dce89;
	-webkit-box-shadow: 0px 0px 10px -2px #2dce89;
	-moz-box-shadow: 0px 0px 10px -2px #2dce89;
	box-shadow: 0px 0px 10px -2px #2dce89;
}

#add > .card{
	border: 1px solid #2dce89 !important;
	-webkit-box-shadow: 0px 0px 10px -2px #2dce89;
	-moz-box-shadow: 0px 0px 10px -2px #2dce89;
	box-shadow: 0px 0px 10px -2px #2dce89;
}
#subtract > .card{
	border: 1px solid #f5365c;
	-webkit-box-shadow: 0px 0px 10px -2px #f5365c;
	-moz-box-shadow: 0px 0px 10px -2px #f5365c;
	box-shadow: 0px 0px 10px -2px #f5365c;
}

.form-control{
	color: white !important;
}
#btnSearchBar{
	position: fixed;
	right: 20px;
	bottom: 30px;
	z-index: 10;
	border-radius: 9999px 9999px 9999px 9999px;
	height: 60px;
	width: 60px;
	line-height: 60px;
	padding: 0 !important;
	color: white;
	transition: border-radius .2s;
}
#search{
	color: white;
	background-color: #1E1E2E;
	font-size: 18px;
	outline: none;
	border: 1px solid #e14eca;
	position: fixed;
	right: 60px;
	bottom: 33px;
	z-index: 9;
	border-bottom-left-radius: 9999px;
	border-top-left-radius: 9999px;
	height: 60px;
	width: 0px;
	opacity: 0;
	line-height: 60px;
	padding-left: 20px !important;
	-webkit-transition: width .6s ease-out, opacity 0.3s ease;
	-moz-transition: width .6s ease-out, opacity 0.3s ease;
	-o-transition: width .6s ease-out, opacity 0.3s ease;
	transition: width .6s ease-out, opacity 0.3s ease;
}
#btn-confirm-transfer{
	position: fixed;
	right: 20px;
	bottom: 100px;
	z-index: 10;
	border-radius: 9999px 9999px 9999px 9999px;
	height: 60px;
	width: 60px;
	line-height: 60px;
	padding: 0 !important;
	color: white;
	transition: border-radius .2s;
}

.tooltip-inner {
	background: linear-gradient(87deg, #5e72e4 0, #825ee4 100%) !important;
	color: #FFFFFF;
	text-align: left;
}

.tooltip.show {
	opacity: 1;
}
#confirm-change{
	margin-top: 36px;
}
.bs-tooltip-auto[x-placement^=right] .arrow::before,
.bs-tooltip-right .arrow::before {
	border-right-color: #5E72E4;
}
.bs-tooltip-auto[x-placement^=left] .arrow::before,
.bs-tooltip-left .arrow::before {
	border-left-color: #5E72E4;
}
.bs-tooltip-auto[x-placement^=top] .arrow::before,
.bs-tooltip-top .arrow::before {
	border-top-color: #5E72E4;
}
.arrow-right{
	margin-top: 50%;
}
.arrow-down{
	display: none;
}
@media (max-width: 991.98px) {
	.arrow-down{
		display: block;
	}
	.arrow-right{
		display: none;
	}
}
.custom-col-6-dashboard{
	margin-bottom: 15px;
}
@media (max-width: 991.98px) {
	.custom-col-6-dashboard{
		margin-bottom: 0px;
	}
}
#choose-type-div{
	overflow-y: auto;
	max-height: 60vh;
}
.timeline {
	list-style: none;
	padding: 20px 0 20px;
	position: relative; 
}

.timeline:before {
	top: 0;
	bottom: 0;
	position: absolute;
	content: " ";
	width: 2px;
	background-color: #1E1E2C;
	left: 25px;
	margin-right: -1.5px; 
}

.timeline > li {
	margin-bottom: 20px;
	position: relative; 
}

.timeline > li:before, .timeline > li:after {
	content: " ";
	display: table; 
}

.timeline > li:after {
	clear: both; 
}

.timeline > li > .timeline-panel {
	width: calc( 100% - 65px );
	float: right;
	border: 1px solid #e14eca;
	border-radius: 2px;
	padding: 10px 20px;
	position: relative;
	box-shadow: none; 
}

.timeline > li > .timeline-panel:before {
	position: absolute;
	top: 26px;
	left: -11px;
	display: inline-block;
	border-top: 11px solid transparent;
	border-right: 11px solid #e14eca;
	border-left: 0 solid #e14eca;
	border-bottom: 11px solid transparent;
	content: " "; 
}

.timeline > li > .timeline-panel:after {
	position: absolute;
	top: 27px;
	left: -10px;
	display: inline-block;
	border-top: 10px solid transparent;
	border-right: 10px solid #e14eca;
	border-left: 0 solid #e14eca;
	border-bottom: 10px solid transparent;
	content: " "; 
}

.timeline > li > .timeline-badge {
	color: #e14eca;
	width: 46px;
	height: 46px;
	line-height: 51px;
	font-size: 1.4em;
	text-align: center;
	position: absolute;
	top: 16px;
	left: 0px;
	margin-right: -25px;
	background-color: #999999;
	z-index: 100;
	border-radius: 9999px; 
}

.timeline-badge.primary {
	background-color: #30a5ff !important; 
}

.timeline-badge.success {
	background-color: #8ad919 !important; 
}

.timeline-badge.warning {
	background-color: #ffb53e !important; 
}

.timeline-badge.danger {
	background-color: #f9243f !important; 
}

.timeline-badge.info {
	background-color: #30a5ff !important; 
}
.timeline-badge.no-color {
	background-color: rgba(48, 165, 255, 0) !important; 
}
.pagination {
	justify-content: center !important;
}
.todo-list {
	padding: 0;
	margin: -15px;
	background: #27293D;
	color: white !important; 
}
.todo-delete > .fa-trash{
	margin-top: 20px;
}
.todo-list .checkbox input[type=checkbox] {
	margin: 0; 
}

.todo-list .checkbox {
	display: inline-block;
	margin: 0px; 
}

.todo-list .checkbox label{
	font-size: 14px; 
	color: white !important; 
}


.panel-body-custom input[type=checkbox]:checked + label {
	text-decoration: line-through;
	color: #777 !important; 
}
.checkbox label, .radio label {
    min-height: 20px;
    padding-left: 5px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
}
.todo-list-item {
	list-style: none;
	line-height: 0.9;
	padding: 14px 15px 8px 15px; 
}



.todo-list .fa-trash {
	color: white; 
}

.todo-list .fa-trash:hover {
	color: #ef4040; 
}

.panel-body-custom {
	padding: 15px;
	height: 309px;
	overflow-y: auto;
}
.panel{
	background-color:#27293D;;
}
.panel-footer {
	background: #27293D;
	border-top: 1px solid #27293D;
}

.panel-footer {
	padding: 5px 7.5px;
	background-color: #27293D;
	border-top: 1px solid #27293D;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}
#btn-input, #btn-todo{
	border-radius: 0 !important;
}
.easypiechart-panel {
	text-align: center;
	padding: 1px 0;
	margin-bottom: 20px;
}
.easypiechart {
	position: relative;
	text-align: center;
	width: 120px;
	height: 120px;
	margin: 20px auto 10px auto; 
}

.easypiechart .percent {
	display: block;
	position: absolute;
	font-size: 26px;
	top: 38px;
	width: 120px;
}
audio, canvas, progress, video {
	display: inline-block;
	vertical-align: baseline;
}
#easypiechart-blue .percent {
	color: #30a5ff; 
}

#easypiechart-teal .percent {
	color: #2dce89; 
}

#easypiechart-orange .percent {
	color: #fb6340; 
}

#easypiechart-red .percent {
	color: #ef4040; 
}
.custom-easypiechart-panel{
	height: auto !important;
	margin-bottom: 0rem;
}
.custom-easypie-header{
	padding-top: .75rem;
	padding-bottom: .75rem;
}
.display-inline{
	display: inline !important;
}
.checkbox{
	width: 95%;
}
.canvasjs-chart-credit{
	display: none !important;
}
button[state="menu"]{
	background-color: rgba(30, 30, 45, .5) !important;
	border: 1px solid gray !important;
}
.scroll-bar::-webkit-scrollbar-track
{
	
	background-color: #27293D;
}

.scroll-bar::-webkit-scrollbar
{
	width: 5px;
	background-color: #27293D;
}

.scroll-bar::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	
	background-color: #727276;
}
.modal-open {
  overflow: hidden;
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  outline: 0;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 0.5rem;
  pointer-events: none;
}

.modal.fade .modal-dialog {
  transition: transform 0.3s ease-out;
  transform: translate(0, -25%);
}

@media screen and (prefers-reduced-motion: reduce) {
  .modal.fade .modal-dialog {
    transition: none;
  }
}

.modal.show .modal-dialog {
  transform: translate(0, 0);
}

.modal-dialog-centered {
  display: flex;
  align-items: center;
  min-height: calc(100% - (0.5rem * 2));
}

.modal-dialog-centered::before {
  display: block;
  height: calc(100vh - (0.5rem * 2));
  content: "";
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #27293D;
  background-clip: padding-box;
  border: 0 solid rgba(0, 0, 0, 0.2);
  border-radius: 0.4375rem;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.2), 0 5px 15px rgba(0, 0, 0, 0.17);
  outline: 0;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}

.modal-backdrop.fade {
  opacity: 0;
}

.modal-backdrop.show {
  opacity: 0.16;
}

.modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1.25rem;
  border-bottom: 0 solid #e9ecef;
  border-top-left-radius: 0.4375rem;
  border-top-right-radius: 0.4375rem;
}

.modal-header .close {
  padding: 1.25rem;
  margin: -1.25rem -1.25rem -1.25rem auto;
}

.modal-title {
  margin-bottom: 0;
  line-height: 1.1;
}

.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 1.5rem;
}

.modal-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1.5rem;
  border-top: 0 solid #e9ecef;
}

.modal-footer> :not(:first-child) {
  margin-left: .25rem;
}

.modal-footer> :not(:last-child) {
  margin-right: .25rem;
}

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
  }

  .modal-dialog-centered {
    min-height: calc(100% - (1.75rem * 2));
  }

  .modal-dialog-centered::before {
    height: calc(100vh - (1.75rem * 2));
  }

  .modal-content {
    box-shadow: 0 15px 35px rgba(50, 50, 93, 0.2), 0 5px 15px rgba(0, 0, 0, 0.17);
  }

  .modal-sm {
    max-width: 380px;
  }
}

@media (min-width: 992px) {
  .modal-lg {
    max-width: 800px;
  }
}